[submodule "public"]
	path = public
	url = git@github.com:MacKarp/mackarp.github.io.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
